@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: TiltNeon;
  src: url("/fonts/TiltNeon-Regular.ttf"); 
}

*{
  font-family: TiltNeon;
  color: white;
}

html,
body,
:root{
  height: 100%;
}
